<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Authentication</title>
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-oBqDVmMz4fnFO9Y4sUVN8K5y7KNU5DF5Ig2SAIeCw5a36ekS9j2WxkP5J7ki5T27" crossorigin="anonymous">

</head>
<body>
    {{{body}}}

   <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha384-w76A3xH4tL7lQ9hL1g7xw/fQ1N0j4I1O6IBbN3xXow5dX6tF0qz3A66a56bWcE4p" crossorigin="anonymous"></script>


</body>
</html>